.mainProduct{
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover;
    position: relative;
    height: 200px;
    width: 200px;

}

.shortDescription{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 70%;
    color: white;
    padding:  2px;
    color: white;

}

.shortDescription h4,h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

