.mainProduct{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    background-image: url('./image/sample.jpg');
    background-size: cover;
    position: relative;
    min-height: max-content;

}

.shortDescription{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 70%;
    color: white;
    padding:  2px;


}

.shortDescription h4,h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

